[submodule ".claude/skills/cvforge-skill"]
	path = .claude/skills/cvforge-skill
	url = https://github.com/cvforge/cvforge-skill.git
[submodule "src/cvforge/renderer/typst_fontawesome"]
	path = src/cvforge/renderer/typst_fontawesome
	url = https://github.com/duskmoon314/typst-fontawesome.git
